<div class="container-fluid" style="padding-left: 820px">
    <div class="col-12">
        <button class="btn btn-secondary">Back</button>
        <button class="btn btn-secondary" style="margin-left: 10px">Save</button>
        <button class="btn btn-secondary" style="margin-left: 10px">Cancel</button>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10px;">
    <button class="btn btn-secondary">Add</button>
    <button class="btn btn-secondary" style="margin-left: 15px;">Delete</button>
    <label style="margin-left: 550px;">Search : <input type="text"></label>
</div>

<div class="container-fluid" style="margin-top: 10px;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><input type="checkbox"></th>
            <th scope="col">Cover Code</th>
            <th scope="col">Section</th>
            <th scope="col">Bullet No</th>
            <th scope="col">Sum Insured</th>
            <th scope="col">Sort Se</th>
            <th scope="col">Add SI</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>Contract Works</td>
            <td>I</td>
            <td>1.1</td>
            <td>50,000,000.00</td>
            <td>10</td>
            <td><input type="checkbox"></td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor: pointer;"></i><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>Materials Supplied</td>
            <td>I</td>
            <td>1.2</td>
            <td>10,000,000.00</td>
            <td>20</td>
            <td><input type="checkbox"></td>
            <td><i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor: pointer;"></i><i class="fa fa-times" aria-hidden="true" style="cursor: pointer;"></i></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="container-fluid">
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>
<div class="container-fluid">
    <label>Total Sum Insured Section I <input type="text" placeholder="50,000,000.00"></label>
    <label style="margin-left: 20px;">Section II <input type="text" placeholder="0.00"></label>
    <label style="margin-left: 20px;">Section III <input type="text" placeholder="0.00"></label>
</div>
<div class="container-fluid" style="margin-top: 5px;">
    <label>Currency 
      <select>
        <option selected></option>
        <option value="1">Open this select menu</option>
      </select>
    </label>
</div>
<div class="container-fluid" style="margin-top: 5px;">
    <p class="formfield">
        <label for="textarea">Deductibles</label>
        <textarea id="textarea" rows="2" style="margin-left: 5px;" cols="47"></textarea>
    </p>
</div>
<div class="container-fluid" style="margin-top: 5px;">
    <p class="formfield">
        <label for="textarea">Remarks</label>
        <textarea id="textarea" rows="2" style="margin-left: 5px;" cols="50"></textarea>
    </p>
</div>
