<!-- <nav>
  <ul class="navbar-menu" style="margin: 0; padding: 0;"> 
    <li class="navbar-usuario"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: 100px"></i>Username</li>
    <li class="navbar-menuitem"><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 40px"></i>
    <a href="#" style="margin-left: 5px;">Quotation <i class="fa fa-caret-left" aria-hidden="true" style="margin-left: 50px;"></i></a></li>
    <li class="navbar-menuitem"><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 40px"></i>
    <a href="#" style="margin-left: 5px;">Underwriting <i class="fa fa-caret-left" aria-hidden="true" style="margin-left: 30px;"></i></a></li>
    <li class="navbar-menuitem"><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 40px"></i>
    <a href="#" style="margin-left: 5px;">Accounting <i class="fa fa-caret-left" aria-hidden="true" style="margin-left: 40px;"></i></a></li>
    <li class="navbar-menuitem"><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 40px"></i>
    <a href="#" style="margin-left: 5px;">Claims <i class="fa fa-caret-left" aria-hidden="true" style="margin-left: 75px;"></i></a></li>
    <li class="navbar-menuitem"><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 40px"></i>
    <a href="#" style="margin-left: 5px;">Security <i class="fa fa-caret-left" aria-hidden="true" style="margin-left: 65px;"></i></a></li>
  </ul>
</nav> -->
<div>
  <div style="text-align: center; margin-top: 20px">
      <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 100px;"></i><br>
      <label style="padding-bottom: 50px;">Username</label>
  </div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 20px"></i>Quotation</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Quotation Processing</p>
        <p>Quotation Inquiry</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 20px"></i>Underwriting</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Quotation Processing</p>
        <p>Quotation Inquiry</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 20px"></i>Accounting</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Quotation Processing</p>
        <p>Quotation Inquiry</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 20px"></i>Claims</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Quotation Processing</p>
        <p>Quotation Inquiry</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fa fa-window-close-o" aria-hidden="true" style="font-size: 20px"></i>Security</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Quotation Processing</p>
        <p>Quotation Inquiry</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
